@use "@/styles/tokens" as *;

.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $space-2;
  padding: 7px 10px;
  border-radius: 99px;
  border: 1px solid var(--color-border-badge);
  background: var(--color-bg-base);
  color: $color-text-disabled;
  @include text-body-4-zagma;
}
