@use 'sass:map';
@use '../tokens/breakpoints' as *;

@mixin up($name) {
  $min: map.get($breakpoints, $name);

  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @error 'Breakpoint "#{$name}" is not defined.';
  }
}

@mixin down($name) {
  $max: map.get($breakpoints, $name);

  @if $max {
    @media (max-width: calc(#{$max} - 0.02px)) {
      @content;
    }
  } @else {
    @error 'Breakpoint "#{$name}" is not defined.';
  }
}

@mixin between($from, $to) {
  $min: map.get($breakpoints, $from);
  $max: map.get($breakpoints, $to);

  @if $min and $max {
    @media (min-width: $min) and (max-width: calc(#{$max} - 0.02px)) {
      @content;
    }
  } @else {
    @error 'Breakpoint "#{$from}" or "#{$to}" is not defined.';
  }
}
